page-home {
/**
 * #00AAED
 * #FE5E55
 * #6F00DC
 * #F1DE00
 * FF0070
 */
  .slide-zoom {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 2px;
  }

  ion-slide {
    background-color: #FF0070;
    color: #FFF;
    font-family: 'Slabo 27px', serif;
    padding: 0 1.5em 0.5em;
    overflow: visible;
  }

  ion-slide .tip {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 1.3rem;
    padding: 0.3em 0.8em;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-bottom: 0.5em;
  }

  ion-slide .title {
    font-size: 1.9rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  ion-slide .option {
    font-size: 1.6rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  ion-slide .option label {
    display: block;
    padding: 0.3em 0.5em;
  }

  ion-slide .option input {
    display: none;
  }

  ion-slide .option input:checked + label {
    color: #333;
    background-color: #FFF;
    border-radius: 4px;
    text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  ion-slide .confirm {
    text-align: center;
    border: none;
    font-size: 1.6rem;
    padding: 0.5em;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
    margin-top: 2.5em;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0.5em;
  }

  ion-slide .confirm ion-icon {
    margin-left: 0.8em;
  }


  ion-slide .confirm.active {
    background-color: #FFF;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  // First page
  #first-page {
    background-color: #00AAED;
  }

  #first-page .title {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
  }

  #first-page .sub-title {
    margin-top: 2em;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
  }

  #first-page .start {
    text-align: center;
    border: none;
    font-size: 1.8rem;
    padding: 0.5em;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
    margin-top: 2.5em;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 0.5em;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  // Last page
  #last-page {
    background-color: #00AAED;
  }

  #last-page .title {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  #last-page .sub-title {
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  #last-page .sub-title span {
    background-color: #FFF;
    border-radius: 4px;
    color: #00AAED;
    padding: 0em 0.3em;
  }

  #last-page .content {
    background-color: #FFF;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  #last-page button {
    text-align: center;
    border: none;
    font-size: 1.8rem;
    padding: 0.5em;
    font-family: 'Raleway', sans-serif;
    border-radius: 2px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
