<ion-content>
  <ion-slides>
    <ion-slide id='first-page'>
      <h1 class='title'>
        Teste seus conhecimentos sobre privacidade na internet.
      </h1>

      <p class='sub-title'>
        Você conhece seus direitos e deveres na rede? Sabe como se manter seguro nas mídias sociais? Não!? Se tem dúvidas ou quer saber mais sobre como usar a Internet com segurança então continue e entenda melhor o mundo virtual que habitamos!
      </p>

      <button
        class='start active'
        (click)='goToNextQuery()'>
        Iniciar Quiz
      </button>
    </ion-slide>

    <ion-slide *ngFor='let query of quiz' [ngStyle]="{'background-color': query.color}">
      <h1 class='title'>
        {{ query.title }}
      </h1>

      <div class='tip'>
        Selecione uma opção
      </div>

      <form>
        <div *ngFor='let alternative of query.alternatives' class='option'>
          <input
            type='radio'
            [id]="alternative.number+'+'+query.number"
            [name]='query.number'
            [value]='alternative.number'
            [(ngModel)]='answers[query.number]'
            />

          <label [for]="alternative.number+'+'+query.number">
            {{ alternative.title }}
          </label>
        </div>
      </form>

      <button
        class='confirm'
        (click)='verify(query.number)'
        [ngClass]="{'active': answers[query.number]}"
        [ngStyle]="{'color': query.color}">
        Próxima
      </button>
    </ion-slide>

    <ion-slide id='last-page'>
      <h1 class='title'>
        Quiz encerrado!
      </h1>

      <p class='sub-title'>
        Você teve <span>{{ countTotalOfRightAnswers() }}</span> acertos de {{ quiz.length }} perguntas
      </p>

      <p *ngIf='countTotalOfRightAnswers() <= 3' class='content'>
        Humm.. você não foi muito bem, mas não tem problema a nossa seção de referências pode te ajudar a aprender mais e te manter seguro!
      </p>

      <p *ngIf='countTotalOfRightAnswers() >= 4 && countTotalOfRightAnswers() <= 6' class='content'>
        Muito bom, você sabe bastante sobre segurança e privacidade na internet, mas ainda tem alguns pontos para aprimorar, que tal dar uma olhada nas nossas referências?
      </p>

      <p *ngIf='countTotalOfRightAnswers() >= 7 && countTotalOfRightAnswers() <= 8' class='content'>
        Ótimo, você mostrou que tem muito conhecimento sobre segurança e privacidade na internet. Para mais informações entre em nossas referências e aprenda ainda mais!
      </p>

      <button
        type="button"
        name="button"
        (click)='goToStart()'>
        Refazer
      </button>

      <button
        type="button"
        name="button"
        (click)='showReferences()'>
        Referências
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
